@use './variables' as var;

/*
  ** INDEX STYLES **
*/ 
.socials, #send_btn{
	width: 100%;
}

.error{
	border: 2px solid var.$pastelRed;
}

.validado{
	border: 2px solid var.$pastelGreen;
}

#spinner{
	display: none;
}