@use './variables' as var;

/*
  ** VERIFICATION STYLES **
*/
.verification_input{
	border-bottom: 5px solid var.$black;
	text-align: center;
}

.valid_verification{
	border-bottom: 5px solid var.$pastelGreen;
}

.verification_error{
	border-bottom: 5px solid var.$pastelRed;
}

#contenedor{
	height: 100vh;
}