/*
  ** GENERALS **
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

/*
  ** INDEX STYLES **
*/
.socials, #send_btn {
  width: 100%;
}

.error {
  border: 2px solid #FF6961;
}

.validado {
  border: 2px solid #64DF38;
}

#spinner {
  display: none;
}

/*
  ** VERIFICATION STYLES **
*/
.verification_input {
  border-bottom: 5px solid #000;
  text-align: center;
}

.valid_verification {
  border-bottom: 5px solid #64DF38;
}

.verification_error {
  border-bottom: 5px solid #FF6961;
}

#contenedor {
  height: 100vh;
}

/*# sourceMappingURL=estilos.css.map */
